<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sai's Blog</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">Sai's Blog</a>
      </h1>
    </header>

    {% for post in posts %}
    <article>
      <time>published: {{ post.published_date }}</time>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text | linebreaksbr }}</p>
    </article>
    {% endfor %}

    <!-- <article> -->
    <!--   <time>published: 20.12.2025, 21:19</time> -->
    <!--   <h2><a href="">My second post</a></h2> -->
    <!--   <p> -->
    <!--     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, dolorem. -->
    <!--     Eos, totam saepe. Quo sit fugiat nam incidunt repellendus ipsam error -->
    <!--     quae, repellat voluptate officiis ratione voluptates corporis velit? -->
    <!--     Ipsam! -->
    <!--   </p> -->
    <!-- </article> -->
  </body>
</html>
